# Git
.git
.gitignore

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual env
venv/
env/

# IDE
.vscode/
.idea/

# Logs
*.log

# Dataset (don’t send to Docker)
*.csv
*.xlsx

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db